<div class="container-fluid">
 <div class="card mt-5">
   <div class="card-body">
     <div class="row text-center">
       <div class="col-lg-3 col-sm-6">
         <h2>ing. Ximena 01</h2>
         <img class="rounded img-fluid" style="width: 300px; height: 350px;" src="../assets/img/1.jpg">
         <h3>{{pr1}}</h3>
         <button class="btn-info btn-lg" type="submit" (click)="votoOne()">Votar</button>
       </div>
       <div class="col-lg-3 col-sm-6">
         <h2>ing. Ximena 02</h2>
         <img class="rounded img-fluid " style="width: 300px; height: 350px;"  src="../assets/img/1.jpg">
         <h3>{{pr2}}</h3>
         <button class="btn-info btn-lg" type="submit" (click)="votoTwo()">Votar</button>
       </div>
       <div class="col-lg-3 col-sm-6">
         <h2>ing. Ximena 03</h2>
         <img class="rounded img-fluid " style="width: 300px; height: 350px;" src="../assets/img/1.jpg">
         <h3>{{pr3}}</h3>
         <button class="btn-info btn-lg" type="submit" (click)="votoThre()">Votar</button>
       </div>
       <div class="col-lg-3 col-sm-6 mt-5">
         <canvas
           baseChart
           [data] = "pieChartData"
           [labels] = "pieChartLabels"
           [chartType] = "pieChartType"
         ></canvas>
         <button class="btn-warning btn-lg mt-5" type="submit" (click)="clean()">Clean</button>
       </div>
     </div>
   </div>
 </div>
</div>

<!-- pie Chart -->
<!-- <div>
    <div style="display: block;">
        <canvas
            baseChart
            [data] = "pieChartData"
            [labels] = "pieChartLabels"
            [chartType] = "pieChartType"
        ></canvas>
    </div>
</div> -->
